

input {
 width: 50vw;
 height: 5vh;
 background-color: rgb(85,85,85);   
 border: 2px solid rgb(50,50,50);
 margin-bottom: 0.5vh;
 margin-left: 10vw;
 -webkit-transition: background-color 0.5s;
 transition: background-color 0.5s;
 color:white;
 font-size: 140%;
}

input:hover {
    background-color:rgb(60,60,60);
}

input:focus {
    background-color:rgb(30,30,30);
}

.signin {
    width:30vw;
    height: 4.5vh;
    border: none;
    background-color: rgb(120,120,120);
    -webkit-transition: background-color 0.4s, margin-top 0.8s;
    transition: background-color 0.4s, margin-top 0.8s;
    margin-left: 19.5vw;
    border-radius: 8px;
    margin-top: 0.5vw;

}

.signin:hover {
    background-color: rgb(50,50,50);
}